{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
